.header-search-input.assets{
    height: 42px;
    padding-left: 42px !important;
    border: 1px solid #2A3042 !important;
    color: white !important;
    background-color: #1E293B !important;
}


.Allcategories{
    background-color: #1E293B !important;
}

.action-btns{
    border: 3px solid #1E293B !important;
}