.start-btn{
    background: linear-gradient(90deg , #00D4FF , #00B8D9);
}

.export-reports-btn{
    background-color: #1B2028 !important;
    border: 1px solid #ffffff79 !important;
    color: white !important;
}

.view-btn{
    color: #F59E0B !important;
    background-color: #F59E0B40 !important;
    padding: 5px 20px;
    border: 2px solid #F59E0B40 !important;
}

.danger-icon{
    color: #EF4444 !important;
}