* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    overflow-x: hidden;
}

.w-35{
    width: 35%;
}

.w-4{
    width: 4%;
}


.w-8{
    width: 8%;
}

.w-fit-content{
    width: fit-content;
}