.table-responsive-wrapper{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border:1px solid   #64748B;
}


table.port-tabel {
    background-color: var(--container-background);
    width: 100%;
}
  
table.port-tabel th {
    background-color: #252B3A;
    color: #9DA3B0;
    padding: 20px 10px;
    text-align: start;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  

  table.port-tabel td{
    border-top: 1px solid #2A3042;
  }
  

  table.port-tabel td.ip-address {
    padding: 10px;
  }

table.port-tabel .ip-address{
    color: #00D4FF;
}

table.port-tabel .protocol ,table.port-tabel .version{
    color: #94A3B8;
}

table.port-tabel .last-seen{
    color: #64748B;
}

table.port-tabel .status{
    color: #10B981;
    background-color: #10b98140;
    padding: 5px 20px;
    border: 2px solid #10B981;
}


table.port-tabel .status.filtered{
    background-color: #F8A30656;
    color: #F59E0B;
    border: 2px solid #F8A30656;

}






