.dashboard-container {
  min-height: 100vh;
  color: white;
}

.dashboard-card {
  background-color: var(--container-background);


  border: 1px solid rgba(255,255,255,.05);

  border-radius: 12px;

  padding: 16px;

  box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.stats-card {
  height: 130px;
}

.side-card {
  min-height: 160px;
}

.card-title-small {
  color: #8f9bb8;
  font-size: 12px;
  letter-spacing: 1px;
}


.vertical-line::before{
  content: "";
  position: absolute;
  top: -15px;
  background-color: #ffffff;
  height: 40px;
  width: 1px;
}