.form-select.ScanType-select , .form-select.speed-select{
    background-color: #10141F !important;
    color: white !important;
}

.form-select.ScanType-select , .form-select.speed-select {
    --bs-form-select-bg-img: url(data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3E%3Cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3E%3C/svg%3E);
}