.playbook .progress-bar {
    background: #8d4cff !important;
}

.playbook .progress, .progress-stacked{
    height: 6px !important;
}


.playbook .desc{
    color: #3FB950;
}

.vertical-line-purple::before{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 50px;
    background-color: #8A2BE2;
    height: 70px;
    width: 3px;
}

.vertical-line-green::before{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 50px;
    background-color: #3FB950;
    height: 40px;
    width: 3px;
}